{
  "extends": ["@nuxt/eslint-config", "plugin:prettier/recommended"],
  "rules": {
    "vue/component-tags-order": [
      "error",
      {
        "order": ["script", "template", "style"]
      }
    ]
  }
}
