@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=block');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Color palette */
    --cb-color-light: 255 255 255;
    --cb-color-grey-lightest: 249 249 249;
    --cb-color-grey-lighter: 240 240 240;
    --cb-color-grey-light: 210 210 210;
    --cb-color-grey: 207 207 207;
    --cb-color-grey-dark: 163 163 163;
    --cb-color-grey-darker: 149 151 161;
    --cb-color-grey-darkest: 123 125 134;
    --cb-color-dark: 0 0 0;

    --cb-color-blue-light: 158 197 250;
    --cb-color-blue-dark: 127 181 255;
    --cb-color-pink-light: 254 240 246;
    --cb-color-pink-dark: 241 120 182;
    --cb-color-orange-light: 250 235 189;
    --cb-color-orange-dark: 242 153 74;
    --cb-color-green-light: 166 213 186;
    --cb-color-green-dark: 39 174 96;
  }

  [data-theme='light'] {
    --cb-color-text-primary: var(--cb-color-dark);
    --cb-color-text-secondary: var(--cb-color-grey-darkest);
    --cb-color-bg-primary: var(--cb-color-light);
    --cb-color-bg-secondary: var(--cb-color-grey-lightest);
  }
}

@layer utitlies {
  .cb-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
  }
  .cb-scrollbar::-webkit-scrollbar:hover {
    background: transparent;
  }
  .cb-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    border-color: transparent;
    width: 6px;
    border-radius: 3px;
  }
  .cb-scrollbar::-webkit-scrollbar-track:hover {
    background: transparent;
  }
}
